body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: 'Playfair Display', serif; /* Classy font */
  transition: background-color 1s; /* Smooth background color transition */
}
